{{#extend "layout" title="Sing App - Table Dynamic"}}
    {{#content "sidebar"}}
        {{> sidebar active="tables_dynamic"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">Tables Basic</li>
        </ol>
        <h1 class="page-title">Dynamic - <span class="fw-semi-bold">Tables</span></h1>
        <section class="widget">
            <header class="d-flex justify-content-between flex-wrap">
                <h4>
                   Table <span class="fw-semi-bold">Styles</span>
                </h4>
                <div class="width-200">
                    <div class="input-group input-group-sm input-group-transparent input-group-rounded">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-search"></i>
                            </span>
                        </span>
                        <input class="form-control " id="search-countries" type="text" placeholder="Search Countries">
                    </div>
                </div>
            </header>
            <div class="widget-body">
                <p>
                    Editable, validatable, filterable and sortable table made with
                    <a href="http://backgridjs.com/" target="_blank">Backgrid.js</a>
                </p>
                <div id="table-dynamic"></div>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>Table <span class="fw-semi-bold">Styles</span></h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p>
                    Column sorting, live search, pagination. Built with
                    <a href="http://www.datatables.net/" target="_blank">jQuery DataTables</a>
                </p>
                <div class="mt">
                    <table id="datatable-table" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th class="no-sort d-none d-md-table-cell">Info</th>
                            <th class="d-none d-md-table-cell">Description</th>
                            <th class="d-none d-md-table-cell">Date</th>
                            <th class="no-sort">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><span class="fw-semi-bold">Algerd</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; JPEG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 200x150
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Palo Alto</a></td>
                            <td class="d-none d-md-table-cell">June 27, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-success" style="width: 29%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><span class="fw-semi-bold">Vitaut</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; PNG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 6433x4522
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Vilnia</a></td>
                            <td class="d-none d-md-table-cell">January 1, 1442</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-danger" style="width: 19%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><span class="fw-semi-bold">Honar</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; AVI
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 1440x980
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Berlin</a></td>
                            <td class="d-none d-md-table-cell">August 6, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 49%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><span class="fw-semi-bold">Jack</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; PNG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 12x43
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">San Francisco</a></td>
                            <td class="d-none d-md-table-cell">August 19, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-primary" style="width: 69%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><span class="fw-semi-bold">Leon</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; MP4
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 800x480
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Brasilia</a></td>
                            <td class="d-none d-md-table-cell">October 1, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 9%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><span class="fw-semi-bold">Max</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; TXT
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Helsinki</a></td>
                            <td class="d-none d-md-table-cell">October 29, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-warning" style="width: 38%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><span class="fw-semi-bold">Pol</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; MOV
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 640x480
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Radashkovichi</a></td>
                            <td class="d-none d-md-table-cell">November 11, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-danger" style="width: 83%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><span class="fw-semi-bold">Chrishna</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; DOC
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Mumbai</a></td>
                            <td class="d-none d-md-table-cell">December 2, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-info" style="width: 40%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><span class="fw-semi-bold">Leslie</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; AVI
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 4820x2140
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Singapore</a></td>
                            <td class="d-none d-md-table-cell">December 6, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-warning" style="width: 18%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td><span class="fw-semi-bold">David</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; XML
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Portland</a></td>
                            <td class="d-none d-md-table-cell">December 13, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 54%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td><span class="fw-semi-bold">Andrej</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; VOB
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 6433x4522
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Minsk</a></td>
                            <td class="d-none d-md-table-cell">December 14, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-primary" style="width: 25%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><span class="fw-semi-bold">Julia</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; JPEG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 40x40
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Hrodna</a></td>
                            <td class="d-none d-md-table-cell">July 9, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-warning" style="width: 50%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td><span class="fw-semi-bold">Ihnat</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; JAVA
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Los Angeles</a></td>
                            <td class="d-none d-md-table-cell">August 2, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-success" style="width: 8%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td><span class="fw-semi-bold">Abraham</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; DOCX
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Panama</a></td>
                            <td class="d-none d-md-table-cell">September 3, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 80%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td><span class="fw-semi-bold">Tomas</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; JPEG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 1800x1420
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Amsterdam</a></td>
                            <td class="d-none d-md-table-cell">November 13, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 10%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td><span class="fw-semi-bold">Scott</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; PNG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 240x460
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Sluck</a></td>
                            <td class="d-none d-md-table-cell">December 5, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-primary" style="width: 93%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td><span class="fw-semi-bold">Pham</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; MAIL
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; -
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Tokyo</a></td>
                            <td class="d-none d-md-table-cell">December 8, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-danger" style="width: 44%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td><span class="fw-semi-bold">Peter</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; PNG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 8320x6400
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Cape Town</a></td>
                            <td class="d-none d-md-table-cell">December 29, 2012</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 5%"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td><span class="fw-semi-bold">Uladz'</span></td>
                            <td class="d-none d-md-table-cell">
                                <small>
                                    <span class="fw-semi-bold">Type:</span>
                                    &nbsp; JPEG
                                </small>
                                <br>
                                <small>
                                    <span class="fw-semi-bold">Dimensions:</span>
                                    &nbsp; 2200x1600
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell"><a href="#">Mahileu</a></td>
                            <td class="d-none d-md-table-cell">December 7, 2013</td>
                            <td class="width-150">
                                <div class="bg-gray-lighter progress progress-sm">
                                    <div class="progress-bar progress-sm bg-gray-light" style="width: 0%"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../bower_components/underscore/underscore-min.js"></script>
        <script src="../../bower_components/backbone/backbone.js"></script>
        <script src="../../bower_components/backbone.paginator/lib/backbone.paginator.min.js"></script>
        <script src="../../bower_components/backgrid/lib/backgrid.js"></script>
        <script src="../../bower_components/backgrid-paginator/backgrid-paginator.js"></script>
        <script src="../../bower_components/datatables/media/js/jquery.dataTables.js"></script>
        <script src="../../bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

        <!-- page specific js -->
        <script src="../js/tables/tables-dynamic.js"></script>
    {{/content}}
{{/extend}}