{{#extend "layout" title="Sing App - Landing" extraBodyClass="landing" contentClass="landing-container" wrapperClass="landing-wrapper"}} 
  {{#content "sidebar" mode="replace"}}{{/content}}
  {{#content "theme-helper" mode="replace"}}{{/content}}
  {{#content "navbar" mode="replace"}}
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a class="navbar-brand" href="https://demo.flatlogic.com/sing-app/"><span class="text-warning fw-normal">Sing</span> App</a>
                <button class="navbar-toggler hamburger" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-warning la la-bars la-2x"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item"><a class="nav-link" href="#versions">Versions</a></li>
                        <li class="nav-item"><a class="nav-link" href="#integration">Integration</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/flatlogic/sing-app">Github</a></li>
                        <li class="nav-item"><a class="nav-link" target="_blank" href="https://flatlogic.com/contact">Contacts</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
  {{/content}} 
  {{#content "chat" mode="replace"}}{{/content}} 
  {{#content "content" mode="replace"}} 
    <section class="section main">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h1 class="text-left mb-xlg"><span>Sing</span> App</h1>
                        <p class="mb-xlg">Premium and Open Source Admin Dashboard Template with responsive layout, amazing UI and tons of features!</p>
                        <a class="btn btn-warning btn-xlg mb" href="https://demo.flatlogic.com/sing-app/html-bs4/" role="button">
                            <span class="text-white">Demo</span>
                        </a>
                        <a class="btn btn-outline-primary btn-xlg" href="https://github.com/flatlogic/sing-app" role="button">
                            <img src="../img/landing/github.svg" alt="github"> Download <span class="text-warning">FREE</span>
                        </a>
                    </div>
                    <div class="col-lg-7">
                        <img class="main-photo" src="../img/landing/header.png" alt="demo">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section versions" id="versions">
        <div class="container">
            <div class="text-center">
                <h2 class="section-title mb">Available in Many Versions</h2>
                <h4 class="sub-title mb-xlg">Sing App supports leading JavaScript frameworks such as Bootstrap, React and Angular to match latest industry demands</h4>
            </div>
            <div class="row">
                <!-- Lite -->
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="https://flatlogic.github.io/sing-app/" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="Demo"> Demo</a>
                            <a href="https://github.com/flatlogic/sing-app/" class="btn btn-rounded-f btn-warning text-white"><small><i class="fa fa-github fa-2x mr-xs"></i></small> Download</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><a href="https://flatlogic.github.io/sing-app/"><img class="icon mr" src="../img/landing/html.svg" alt="html"> Sing App - HTML 5 Lite</a></h3>
                        <span class="text-primary">Free</span>
                    </div>
                </div>
                <!-- Full -->
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="https://demo.flatlogic.com/sing-app/html-bs4/" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="Demo"> Demo</a>
                            <a href="https://wrapbootstrap.com/theme/sing-app-html5-angular-react-admin-WB0J6BJ85?ref=by" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="Purchase"> Purchase</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><a href="https://demo.flatlogic.com/sing-app/html-bs4/"><img class="icon mr" src="../img/landing/html.svg" alt="html"> Sing App - HTML 5 Full</a></h3>
                        <span class="text-primary">$35.00</span>
                    </div>
                </div>
                <!-- React -->
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="https://sing-app.herokuapp.com/app/main/dashboard" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="Demo"> Demo</a>
                            <a href="https://wrapbootstrap.com/theme/sing-app-html5-angular-react-admin-WB0J6BJ85?ref=by" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="Purchase"> Purchase</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><a href="https://sing-app.herokuapp.com/app/main/dashboard"><img class="icon mr" src="../img/landing/react.svg" alt="html"> Sing App - React Full</a></h3>
                        <span class="text-primary">$35.00</span>
                    </div>
                </div>
                <!-- Angular -->
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="http://demo.flatlogic.com/sing-app/angular/" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="Demo"> Demo</a>
                            <a href="https://wrapbootstrap.com/theme/sing-app-html5-angular-react-admin-WB0J6BJ85?ref=by" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="Purchase"> Purchase</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><a href="https://demo.flatlogic.com/sing-app/angular/"><img class="icon mr" src="../img/landing/angular.svg" alt="html"> Sing App - Angular Full</a></h3>
                        <span class="text-primary">$35.00</span>
                    </div>
                </div>
                <!-- AngularJS -->
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="http://demo.flatlogic.com/sing-app/angularjs/" class="btn btn-rounded-f btn-primary mr-sm"><img class="mr-xs" src="../img/landing/Demo.svg" alt="Demo"> Demo</a>
                            <a href="https://wrapbootstrap.com/theme/sing-app-html5-angular-react-admin-WB0J6BJ85?ref=by" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="Purchase"> Purchase</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><a href="https://demo.flatlogic.com/sing-app/angularjs/"><img class="icon mr" src="../img/landing/angularjs.svg" alt="html"> Sing App - AngularJS Full</a></h3>
                        <span class="text-primary">$35.00</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-wrapper">
                        <div class="text-center"><img class="img-fluid text-center" src="../img/landing/header.png" alt="demo"></div>
                        <div class="img-content">
                            <a href="https://wrapbootstrap.com/theme/sing-app-html5-angular-react-admin-WB0J6BJ85?ref=by" class="btn btn-rounded-f btn-warning text-white"><img class="mr-xs" src="../img/landing/buy.svg" alt="Purchase"> Purchase</a>
                        </div>
                    </div>
                    <div class="version-description mt mb-xlg">
                        <h3 class="version-title"><img class="icon mr" src="../img/landing/rails.svg" alt="html"> Sing App - Rails Seed</h3>
                        <span class="text-primary">$35.00</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section integration" id="integration">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
                    <h2 class="section-title mb">Integration</h2>
                    <h4 class="sub-title mb-xlg">Sing app is a part of a solution provided by <a class="text-warning" href="https://flatlogic.com" target="_blank">Flatlogic</a></h4>
                </div>
                <div class="col-lg-6 offset-md-1">
                    <div class="text-left">
                        <p class="lead">We can connect admin dashboard with such systems as your accountign software, your custorem relationship 
                            management (CRM) system, your email system, your website analytics program, etc. 
                            Integration pulls all this information into one place so you don't have to log into multiple systems.</p>
                    </div>
                    <a href="https://flatlogic.com" target="_blank" class="btn btn-warning btn-xlg"><span class="text-white">Learn More</span></a>
                </div>
                <div class="col-xs-8 offset-xs-2 col-lg-5 offset-md-0">
                    <div class="scheme">
                        <img class="img-fluid" src="../img/landing/Integration_scheme.svg" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section features" id="features">
        <div class="container">
            <div class="row">
                <div class="offset-xs-1 col-lg-6 offset-md-1">
                    <h2 class="section-title mb-xlg">Feature List</h2>
                    <ul class="features-list">
                        <li>Coded by Developers for Developers</li>
                        <li>Open Source Code</li>
                        <li>Fully Responsive</li>
                        <li>8 Charts Libraries</li>
                        <li>2 Dashboards</li>
                        <li>Hundreds of Icons</li>
                        <li>Profile Page</li>
                        <li>Advanced Forms</li>
                        <li>Chat Application</li>
                        <li>Static & Hover Sidebar</li>
                    </ul>
                </div>
                <div class="col-xs-8 offset-xs-2 col-lg-5 offset-md-0">
                    <div class="text-center">
                        <img class="mobile img-fluid" src="../img/landing/featureList_mobile.png" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section testimonials" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-md-1">
                    <h2 class="section-title mb-xlg">Testimonials</h2>
                </div>
                <div class="col-md-10 offset-md-1">
                    <div class="owl-carousel">
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/umbicord.png)"></div>
                                <h4 class="name">Umbicord</h4>
                                <h4 class="mt-sm text-muted text-center">Sing App Customer</h4>
                                <p class="mt-lg">To be honest I had no expectation for this price. Prepared myself to have css fights, tidy ups and code reviews. When I puchased this theme and unzipped the pack I WAS SURPRISED!!! All the different approaches ( ajax, angular, angular2 ) are there.
                                    <br>
                                    I use Angular so I had a go with that. It is amazing, well built, clear and transparent. THANK YOU SO MUCH! I'm really amazed!!</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/altan.jpg)"></div>
                                <h4 class="name">Altan Sarisin</h4>
                                <h4 class="mt-sm text-muted text-center">Managing Director IT & Strategy <br> MenschDanke GmbH</h4>
                                <p class="mt-lg">We have been working with Flatlogic for 6 months now and couldn't be 
                                    happier. Weth the best intention in mind for customers needs, they seemlessly adapted 
                                    our workflow and were quick to collaborate with our existing decs much more like an 
                                    internal team than a group of remote developers.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card">
                                <img class="comma" src="../img/landing/comma.svg" alt="comma">
                                <div class="photo" style="background-image: url(../img/landing/tobias.png)"></div>
                                <h4 class="name">Tobias Kuen</h4>
                                <h4 class="mt-sm text-muted text-center">Managing Director <br> SC-Networks GmbH</h4>
                                <p class="mt-lg">Flatlogic is a valued partner for our company when it comes to software
                                    development. The work they have done has had tremendous, measurable impact on issues
                                    pertaining to our product. Just as important as the results has been the
                                    professionalism: defined processes and constant flow of information every step of the way. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="team text-center">
                <h4 class="sub-title">Proudly built & maintained by
                    <br>
                    <a class="fw-normal" target="_blank" href="https://flatlogic.com">Flatlogic - Advanced Javascript Engineering</a></h4>
            </div>
        </div>
    </section>
  {{/content}}
  {{#content "footer" mode="replace"}} 
    <footer class="footer" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-md-first order-lg-2">
                    <ul class="nav footer-nav footer-nav-primary">
                        <li><a href="#versions">Versions</a></li>
                        <li><a href="#integration">Integration</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="https://github.com/flatlogic/sing-app">Github</a></li>
                        <li><a href="#contacts">Contacts</a></li>
                    </ul>
                    <form class="footer-form" action="//flatlogic.us10.list-manage.com/subscribe/post?u=53ab0508ca96dfb8152b1aa38&amp;id=212b6814f4"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                        <p>Be first to know latest updates on our products and recent trends in admin dashboard development.</p>
                        <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control input-lg" name="EMAIL" id="email" placeholder="your-email@flatlogic.com">
                            <span class="input-group-btn">
                            <button class="btn btn-lg btn-primary" type="submit">&nbsp;Sign Up&nbsp;</button>
                            </span>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-1 order-sm-1">
                    <section class="company-info">
                        <h5>Flatlogic, LLC</h5>
                        <p></p>
                        <p>220004, Minsk, <br> Republic of Belarus</p>
                        <p>vulica Amuratarskaja 4 - 409</p>
                        <p>+1 (650) 265-0317</p>
                    </section>
                </div>
                <div class="col-lg-3 col-md-6 order-lg-3 order-sm-2">
                    <ul class="nav footer-nav footer-nav-secondary visible-lg">
                        <li><a href="https://twitter.com/flatlogic" target="_blank">Support</a></li>
                        <li><a href="https://twitter.com/flatlogic" target="_blank">News</a></li>
                        <li><a href="https://twitter.com/flatlogic">Events</a></li>
                    </ul>
                    <p class="footer-social">
                        <a href="https://github.com/flatlogic/" target="_blank"><i class="fa fa-github fa-2x"></i></a>
                        <a href="https://twitter.com/flatlogic/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                        <a href="https://www.linkedin.com/company/flatlogic/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                        <a href="https://www.facebook.com/flatlogic" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-basement">
            <div class="container">
                <div class="d-flex justify-content-between flex-wrap">
                    <span class="copyright mr">&copy; 2018 Flatlogic, LLC. All rights reserved.</span>
                    <div>
                        <a href="https://flatlogic.com/privacy" class="mr-sm">Privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  {{/content}} 
  {{#content "scripts"}}
    <script src="../../bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="../js/other/landing.js"></script>
  {{/content}}
{{/extend}}