{{#extend "layout" title="Sing App - Package"}}
    {{#content "sidebar"}}
        {{> sidebar active="package"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <h2 class="page-title">Sing - <span class="fw-semi-bold">Package</span>
            <small>More than 2000 man-hours already invested!</small>
        </h2>
        <p class="lead">You will get access to all those versions listed below after you purchase any Sing licence!</p>
        <div class="row mt-lg">
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            React JS Version
                        </h5>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <img class="package-img" src="../img/react-logo.svg" alt="">
                        <h3>React JS Version</h3>
                        <p class="text-muted">We spent another <span class="fw-semi-bold">500</span> man-hours
                            developing and designing React version, to save you time and money.</p>
                        <p><a href="https://reactjs.org/" rel="nofollow" target="_blank">React</a> is the most trendy
                            and advanced component-based JavaScript library for building user interfaces. Our React version follows
                            latest industry best practices and uses <strong>Redux</strong> as a state manager and supports
                            <strong>Server Side Rendering</strong> which makes this app incredibly fast and
                            SEO-friendly.
                        </p>
                        <p>This version is a great choice when you want to be in control of your own codebase and
                            decide on development approaches that are the best for your project.
                            <a href="https://webpack.js.org/">Webpack</a> Module Bundler and Yarn as a package manager
                            are under the hood.</p>
                        <a class="btn btn-gray btn-lg btn-block"
                           href="https://sing-app.herokuapp.com/">Go to Demo</a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            Angular Version
                        </h5>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <img class="package-img" src="../img/angularjs-logo.svg" alt="">
                        <h3>Angular 2+ Version</h3>
                        <p class="text-muted">We spent around <span class="fw-semi-bold">500</span> man-hours developing
                            and designing
                            Angular version, to match high engineering requirements.</p>
                        <p><a href="https://angular.io" rel="nofollow" target="_blank">Angular</a> is the most mature
                            and wide spread
                            front-end framework created by Google and used by many established enterprises. It is a very
                            good choice when
                            your expect your application to have a well-engineered structure and development workflow.
                            If you are familiar
                            with Java or .NET ecosystems Angular is definitely your choice.
                        </p>
                        <p>Our app is built on top of latest <strong>Angular 5.0</strong> version and
                            uses <a href="https://webpack.js.org/">Webpack</a> Module Bundler and NPM as a package
                            manager, so everything
                            works out of the box! <br><br></p>
                        <a class="btn btn-gray btn-lg btn-block"
                           href="http://demo.flatlogic.com/sing-app/angular/">Go to Demo</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            AngularJS Version
                        </h5>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <img class="package-img" src="../img/angular-logo.svg" alt="">
                        <h3>AngularJS Version</h3>
                        <p class="text-muted">We don’t know about you but we’re very excited that it’s finally here!
                            Our brand new Light Blue Angular version.</p>
                        <p><a href="https://reactjs.org/" rel="nofollow" target="_blank">Angular</a> should be
                            definitely among your top considerations when choosing the right framework.</p>
                        <p><strong>Angular 1.0</strong> have so many opportunities in comparison to HTML. It lets you
                            extend HTML vocabulary. And as a result your application can be very expressive and readable.
                            <strong>Directives</strong> can hide complex DOM structure & CSS.</p>
                        <p>Angular version makes it possible by letting responsive, fast-loading and
                            seamlessly-navigating application.</p>
                        <a class="btn btn-gray btn-lg btn-block"
                           href="http://demo.flatlogic.com/sing-app/angularjs/">Go to Demo</a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            Pure HTML5 Version
                        </h5>
                        <div class="widget-controls">
                            <!--<a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>-->
                            <!--<a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>-->
                            <!--<a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>-->
                            <!--<a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>-->
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <img class="package-img" src="../img/js-logo.svg" alt="">
                        <h3>HTML5 Version</h3>
                        <p class="text-muted">During last 4 years we invested more than <span
                                class="fw-semi-bold">1000</span> man-hours
                            crafting and maintaining this version.</p>
                        <p>Basic HTML5 version is the most generic version of Sing App that can be used with any platform
                            starting from PHP and Rails to .NET and Java. It contains pure w3c-validated <strong>HTML5</strong>
                            markup and valid <strong>CSS3</strong> styles. It can work in two modes: (a) as a <strong>Single
                                Page Application</strong>, using ajax to fetch page contents, or (b) as a static application, where pages served directly
                            from server. The mode can be switched by changing
                            the value of &nbsp;<code>window.PJAX_ENABLED</code> global variable.</p>
                        <p>Moreover, this version comes with three different color schemes which you can easily switch
                            based on your choice.</p>
                        <a class="btn btn-link btn-lg btn-block disabled" href="#">(You are here)</a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row mt-lg">
            <div class="col-md-5 col-sm-6">
                <section class="widget">
                    <header>
                        <h5>
                            Vue JS Version
                        </h5>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <img class="package-img" src="../img/vue-logo.svg" alt="">
                        <h3>VUE JS Version</h3>
                        <p class="text-muted">Coming soon version. Seed project is <span class="fw-semi-bold">50%</span>
                            ready.</p>
                        <p><a href="https://reactjs.org/" rel="nofollow" target="_blank">Vue</a> is a an open-source
                            progressive
                            JavaScript framework for building user interfaces. Vue is designed to be incrementally
                            adoptable meaning that
                            adding new libraries is made incredibly easy.
                        </p>
                        <p>Creating Vue JS version is a main priority of <a href="https://flatlogic.com">Flatlogic</a>
                            for next months,
                            so seed version will ready really soon! <br><br></p>
                        <a class="btn btn-link btn-lg btn-block disabled" href="#">Coming Soon!</a>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script>
            $(function(){
                function pjaxPageLoad(){
                    $('.widget').widgster();
                }

                pjaxPageLoad();
                SingApp.onPageLoad(pjaxPageLoad);
            });
        </script>
    {{/content}}
{{/extend}}