{{#extend "layout" title="Sing App - Widgets"}}
    {{#content "sidebar"}}
        {{> sidebar active="dashboard_widgets"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <!--<ol class="breadcrumb">-->
        <!--<li class="breadcrumb-item">YOU ARE HERE</li>-->
        <!--<li class="active">Widgets</li>-->
        <!--</ol>-->
        <!--<h2 class="page-title">Widgets - <span class="fw-semi-bold">Options</span></h2>-->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-card">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-3">
                                <span class="widget-icon">
                                    <i class="fi flaticon-like text-primary"></i>
                                </span>
                            </div>
                            <div class="col-9">
                                <h6 class="no-margin">USERS GROWTH</h6>
                                <p class="h2 no-margin fw-normal">4,332</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6 class="no-margin">Registrations</h6>
                                <p class="value5">+830</p>
                            </div>
                            <div class="col-6 fs-sm">
                                <h6 class="no-margin">Bounce Rate</h6>
                                <p class="value5">4.5%</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-card">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-3">
                                <span class="widget-icon">
                                    <i class="fi flaticon-magic-wand text-info"></i>
                                </span>
                            </div>
                            <div class="col-9">
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="57">
                                    <div>
                                        <h6 class="no-margin">VISITS TODAY</h6>
                                        <p class="h2 no-margin fw-normal">12,324</p>
                                    </div>
                                    <div>
                                        <h6 class="no-margin">VISITS YESTERDAY</h6>
                                        <p class="h2 no-margin fw-normal">11,885</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6 class="no-margin">New Visitors</h6>
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="24">
                                    <div>
                                        <p class="value5">1,332</p>
                                    </div>
                                    <div>
                                        <p class="value5">20.1%</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h6 class="no-margin">Bounce Rate</h6>
                                <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="24">
                                    <div>
                                        <p class="value5">217</p>
                                    </div>
                                    <div>
                                        <p class="value5">2.3%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-card">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="fade" data-speed="750" data-delay="4000" data-height="100">
                            <div class="bg-white">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="widget-icon">
                                            <i class="fi flaticon-notebook-4"></i>
                                        </span>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="no-margin">ORDERS</h6>
                                        <p class="h2 no-margin fw-normal">82,765</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="no-margin">Avg. Time</h6>
                                        <p class="value5">2:56</p>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="no-margin">Last Week</h6>
                                        <p class="value5">374</p>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-white">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="widget-icon">
                                            <i class="fi flaticon-shuffle"></i>
                                        </span>
                                    </div>
                                    <div class="col-9">
                                        <h6 class="no-margin">PICKED ORDERS</h6>
                                        <p class="h2 no-margin fw-normal">13.8%</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h6 class="no-margin">Basic</h6>
                                        <p class="value5">3,692</p>
                                    </div>
                                    <div class="col-6">
                                        <h6 class="no-margin">Advanced</h6>
                                        <p class="value5">1,441</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3 col-md-6">
                <section class="widget widget-card">
                    <div class="widget-body clearfix">
                        <div class="row">
                            <div class="col-3">
                                <span class="widget-icon">
                                    <i class="fi flaticon-diamond text-success"></i>
                                </span>
                            </div>
                            <div class="col-9">
                                <h6 class="no-margin">TOTAL PROFIT</h6>
                                <p class="h2 no-margin fw-normal">$7,448</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6 class="no-margin">Last Month</h6>
                                <p class="value5">$83,541</p>
                            </div>
                            <div class="col-6">
                                <h6 class="no-margin">Last Week</h6>
                                <p class="value5">$17,926</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget widget-chart-stats-simple">
                    <header>
                        <div class="row">
                            <div class="col-3">
                                <h6>
                                    Total Sales
                                </h6>
                                <p class="value5">
                                    January, 2014
                                </p>
                            </div>
                            <div class="col-3">
                                <h5>
                                    <small>Best</small>
                                </h5>
                                <p class="value6 fs-sm">
                                    March, 2013 + 1
                                </p>
                            </div>
                        </div>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="chart-stats">
                            <p class="text-muted fs-mini mt-xs">
                                <i class="fi flaticon-placeholder fa-5x float-left mr-3 mt-n-sm"></i>
                                <span class="fw-semi-bold text-gray-dark">Jess:</span> Seems like statically it's getting impossible to achieve any sort of
                                results in nearest future. The only thing we can hope for is pressing one of these two buttons:
                            </p>
                            <div class="btn-toolbar">
                                <button class="btn btn-xs btn-success">Accept</button>
                                <button class="btn btn-xs btn-default">Reject</button>
                            </div>
                        </div>
                        <div class="chart bg-body-light">
                            <div id="chart-stats-simple" class="chart-inner"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="widget widget-chart-stats-simple">
                    <header>
                        <h6 class="mb-0">
                            <span class="fw-semi-bold">Budget</span> <span class="badge badge-pill bg-danger">2017</span>
                        </h6>
                        <span class="text-muted fs-mini">monthly report will be available in <a href="#">6 hours</a></span>
                        <div class="widget-controls">
                            <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="chart-stats">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="clearfix mt-3">
                                        <h6 class="float-left fs-mini text-muted mb-xs">
                                            Income
                                        </h6>
                                        <p class="float-right h6 mb-xs">
                                            <span class="fw-semi-bold">$14,595</span>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                        <h6 class="float-left fs-mini no-margin text-muted">
                                            Recent
                                        </h6>
                                        <p class="float-right h6">
                                            <span class="fw-semi-bold">$7,647</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-right mt-3">
                                    <h6 class="text-muted fs-mini mb-xs">Inqueries</h6>
                                    <p class="fw-semi-bold h6">73 at 14am</p>
                                </div>
                                <div class="col-md-4 text-right mt-3">
                                    <h6 class="text-muted fs-mini mb-xs">Last Updated</h6>
                                    <p class="fw-semi-bold h6">23.06.2013</p>
                                </div>
                            </div>
                        </div>
                        <div class="chart bg-body-light">
                            <div id="chart-stats-simple-2" class="chart-inner"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="widget">
                    <div class="widget-body">
                        <div id="map-years-mapael" class="mapael">
                            <div class="stats">
                                <h6 class="text-gray-dark">YEARLY <span class="fw-semi-bold">DISTRIBUTIONS</span></h6>
                                <span class="float-left mr-xs">
                                            <small><span class="circle bg-warning text-gray-dark"><i class="fa fa-plus"></i></span></small>
                                        </span>
                                <p class="h5 no-margin">
                                    <strong>17% last year</strong>
                                </p>
                            </div>
                            <div class="map">
                                <span>Alternative content for the map</span>
                            </div>
                            <ul class="map-controls nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-years-map-year="2008">2008</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="#" class="nav-link" data-years-map-year="2009">2009</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-years-map-year="2010">2010</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-years-map-year="2011">2011</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-years-map-year="2012">2012</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-years-map-year="2013">2013</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget">
                    <header class="bb">
                        <h6>Recent <span class="fw-semi-bold">Chats</span></h6>
                    </header>
                    <div class="widget-body">
                        <div class="widget-middle-overlay">
                            <ul class="list-group widget-chat-list-group">
                                <li class="list-group-item">
                                <span class="thumb">
                                    <img class="rounded-circle" src="../demo/img/people/a6.jpg" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h6 class="sender">Chris Gray</h6>
                                    <p class="body">Hey! What's up? So much time since we saw each other there</p>
                                </li>
                                <li class="list-group-item on-right">
                                <span class="thumb">
                                    <img class="rounded-circle" src="../img/avatar.png" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h6 class="sender">John Doe</h6>
                                    <p class="body">True! Totally makes sense. But how do we find that?</p>
                                </li>
                                <li class="list-group-item">
                                <span class="thumb">
                                    <img class="rounded-circle" src="../demo/img/people/a6.jpg" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h6 class="sender">Chris Gray</h6>
                                    <p class="body">OK, but so now what? What should we do now? Not sure actually.</p>
                                </li>
                                <li class="list-group-item on-right">
                                <span class="thumb">
                                    <img class="rounded-circle" src="../img/avatar.png" alt="...">
                                </span>
                                    <time class="time">10 sec ago</time>
                                    <h6 class="sender">John Doe</h6>
                                    <p class="body">Hey guys, didn't you notice this conversation is sort of jubberish?</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <footer class="bg-body-light bt">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your message">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    Send
                                </button>
                            </span>
                        </div>
                    </footer>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget bg-gray-dark text-white">
                    <div class="widget-body">
                        <h5 class="mb-lg">Recent <span class="fw-semi-bold">Update</span></h5>
                        <h6>Node.js <span class="fw-semi-bold">4.0.1 distribution</span></h6>
                        <div class="bg-gray-lighter progress progress-xs">
                            <div class="progress-bar progress-xs bg-danger" style="width: 77%"></div>
                        </div>
                        <p class="mt-sm mb">
                            <small><span class="circle bg-warning text-gray-dark"><i class="la la-chevron-up"></i></span></small>
                            <strong>17% higher</strong>
                            than last month</p>
                        <p class="fs-smaller text-gray-lighter mb-0">Remaining hours</p>
                        <a class="btn btn-sm btn-gray float-right ml-xs" href="#">
                            <i class="fa fa-compress"></i> track
                        </a>
                        <a class="btn btn-sm btn-gray float-right" href="#">
                            <i class="fa fa-pause"></i> pause
                        </a>
                        <p class="value5">2h 56m</p>
                        <br>
                        <div id="realtime1" class="chart-overflow-bottom text-gray-dark"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="widget-top-overlay widget-padding-md clearfix bg-warning text-white">
                            <h3 class="mt-lg mb-lg">Sing - <span class="fw-semi-bold">Next Generation</span> Admin Dashboard
                                Template</h3>
                            <ul class="tags text-white float-right">
                                <li><a href="#">features</a></li>
                            </ul>
                        </div>
                        <div class="post-user mt-n-lg">
                            <span class="thumb-lg float-left mr">
                                <img class="rounded-circle" src="../demo/img/people/a4.jpg" alt="...">
                            </span>
                            <h6 class="mt-s mb-3 fw-normal text-white">Jeremy <small class="text-white text-light">@sing</small></h6>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <p class="text-light fs-mini">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                        <ul class="post-comments mt mb-0">
                            <li>
                                <span class="thumb-xs avatar float-left mr-sm">
                                    <img class="rounded-circle" src="../demo/img/people/a1.jpg" alt="...">
                                </span>
                                <div class="comment-body">
                                    <h6 class="author fs-sm fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                                    <p class="fs-mini">Hey, have you heard anything about that?</p>
                                </div>
                            </li>
                            <li>
                                <span class="thumb-xs avatar float-left mr-sm">
                                    <img class="rounded-circle" src="../img/avatar.png" alt="...">
                                </span>
                                <div class="comment-body">
                                    <input class="form-control form-control-sm" type="text" placeholder="Write your comment...">
                                </div>
                            </li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="widget-top-overlay text-white">
                            <img src="../demo/img/pictures/17.jpg">
                            <ul class="tags text-white float-right">
                                <li><a href="#">design</a></li>
                                <li><a href="#">white</a></li>
                            </ul>
                        </div>
                        <div class="post-user mt-sm">
                            <span class="thumb float-left mr">
                                <img class="rounded-circle" src="../demo/img/people/a6.jpg" alt="...">
                            </span>
                            <h6 class="mb-xs mt-xs"><span class="fw-semi-bold">Maryna</span> Nilson</h6>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <p class="text-light fs-mini m">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links no-separator">
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> 427</span></a></li>
                            <li><a href="#"><i class="fa fa-comment"></i> 98</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="widget">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="post-user mt-n-xs">
                            <span class="thumb float-left mr">
                                <img class="rounded-circle" src="../demo/img/people/a2.jpg" alt="...">
                            </span>
                            <h6 class="mb-xs mt-xs">Jess <span class="fw-semi-bold">@jessica</span></h6>
                            <p class="fs-mini text-muted"><time>25 mins</time> &nbsp; <i class="fa fa-map-marker"></i> &nbsp; near Amsterdam</p>
                        </div>
                        <div class="widget-middle-overlay widget-padding-md clearfix bg-danger text-white">
                            <h3 class="mt-lg mb-lg">Sing - <span class="fw-semi-bold">Next Generation</span> Admin Dashboard
                                Template</h3>
                            <ul class="tags text-white float-right">
                                <li><a href="#">design</a></li>
                            </ul>
                        </div>
                        <p class="text-light fs-mini mt-sm">Lots of cool stuff is happening around you. Just calm down for a sec and listen. Colors, sounds,
                            thoughts, ideas. </p>
                    </div>
                    <footer class="bg-body-light">
                        <ul class="post-links">
                            <li><a href="#">1 hour</a></li>
                            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                            <li><a href="#">Comment</a></li>
                        </ul>
                    </footer>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                    <div class="widget-image text-white">
                        <img src="../demo/img/pictures/18.jpg">
                        <h4 class="title">
                            <span class="fw-normal">Sunnyvale</span>, CA
                        </h4>
                        <div class="info text-right">
                            <i class="fa fa-map-marker h2 no-margin mr-xs"></i>
                            <h6 class="no-margin mt-xs fs-mini">FLORIDA, USA</h6>
                            <p class="fs-smaller">9:41 am</p>
                        </div>
                        <div class="forecast">
                            <div class="row">
                                <div class="col-6 col-md-4">
                                    <div class="row mt-xs">
                                        <div class="col-6 p-0">
                                            <canvas id="clear-day" width="40" height="40"></canvas>
                                            <p class="no-margin fw-normal mt-n-xs">sunny</p>
                                        </div>
                                        <div class="col-6 p-0">
                                            <h6 class="fw-semi-bold no-margin">SUNDAY</h6>
                                            <p class="value2 ">29&deg;</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-md-2 p-0">
                                    <h6 class="no-margin">TOMMOROW</h6>
                                    <canvas class="mt-xs" id="partly-cloudy-day" width="28" height="28"></canvas>
                                    <p class="no-margin fw-semi-bold">32&deg;</p>
                                </div>
                                <div class="col-3 col-md-2 p-0">
                                    <h6 class="no-margin">TUE</h6>
                                    <canvas class="mt-xs" id="rain" width="28" height="28"></canvas>
                                    <p class="no-margin fw-semi-bold">25&deg;</p>
                                </div>
                                <div class="col-3 col-md-2 p-0">
                                    <h6 class="no-margin">WED</h6>
                                    <canvas class="mt-xs" id="clear-day-3" width="28" height="28"></canvas>
                                    <p class="no-margin fw-semi-bold">28&deg;</p>
                                </div>
                                <div class="col-3 col-md-2 p-0">
                                    <h6 class="no-margin">THU</h6>
                                    <canvas class="mt-xs" id="partly-cloudy-day-3" width="28" height="28"></canvas>
                                    <p class="no-margin fw-semi-bold">17&deg;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col-md-6">
                        <section class="widget p-0 text-center">
                            <div class="row no-margin display-flex">
                                <div class="col-5 bg-danger btlr bblr">
                                    <canvas class="mt-3" id="clear-day-1" width="62" height="62"></canvas>
                                    <h6 class="text-white display-inline-block fw-normal">FRIDAY</h6>
                                </div>
                                <div class="col-7">
                                    <p class="value0 text-danger mt-n-xs mr-n-xs">
                                        33&deg;
                                    </p>
                                    <p class="mt-n-sm fw-normal fs-smaller text-muted no-margin">WINDY</p>
                                    <div class="row">
                                        <div class="col-6 p-0">
                                            <canvas id="wind-1" width="20" height="20"></canvas>
                                            <div class="display-inline-block">
                                                <p class="value6">4</p>
                                                <p class="fs-sm no-margin mt-n-xs text-muted fw-normal">MPS</p>
                                            </div>
                                        </div>
                                        <div class="col-6 p-0">
                                            <canvas id="rain-1" width="20" height="20"></canvas>
                                            <div class="display-inline-block">
                                                <p class="value6">52</p>
                                                <p class="fs-sm no-margin mt-n-xs text-muted fw-normal">MM</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="widget p-0 text-center">
                            <div class="row no-margin">
                                <div class="col-7 bg-success btlr bblr">
                                    <p class="value0 text-white mt-sm mr-n-xs">
                                        20&deg;
                                    </p>
                                    <p class="text-white display-inline-block fw-normal display-inline-block mb">SUNDAY</p>
                                </div>
                                <div class="col-5">
                                    <canvas class="mt" id="partly-cloudy-day-1" width="60" height="60"></canvas>
                                    <p class="fw-normal fs-smaller text-muted">WINDY</p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <section class="widget widget-chart-simple widget-sm">
                            <div class="widget-body">
                                <h6 class="mb-xs fw-normal">
                                    Nasdaq
                                </h6>
                                <div class="chart-value">
                                    355 <span class="fw-semi-bold">USD</span>
                                </div>
                                <p>Last Sale 354.94 USD</p>
                                <div class="chart">
                                    <div id="chart-simple"></div>
                                </div>
                            </div>
                        </section>
                        <section class="widget widget-sm bg-primary text-white">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-arrow-circle-up fa-3x opacity-50"></i></p>
                                <p class="text-light mb"><time>10 June</time></p>
                                <h3>
                                    Lots of <span class="fw-semi-bold">new</span> amazing possibilities
                                </h3>
                                <p class="fs-mini mt">
                                    <span class="fw-semi-bold">214</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-6">
                        <section class="widget widget-sm bg-success text-white">
                            <div class="widget-body">
                                <p class="mb-xs"><i class="fa fa-comments fa-2x"></i></p>
                                <h5>
                                    Lots of <span class="fw-semi-bold">possibilities</span> to customize your
                                    new <span class="fw-semi-bold">admin template</span>
                                </h5>
                                <p class="fs-mini mt-sm">
                                    <span class="fw-semi-bold">83</span> likes
                                    &nbsp;
                                    <span class="fw-semi-bold">96</span> comments
                                    &nbsp;
                                    <span class="fw-semi-bold">7</span> shares
                                </p>
                                <p class="text-light fs-smaller mt-lg"><time>10 June</time></p>
                            </div>
                        </section>
                        <section class="widget widget-sm">
                            <header>
                                <h6>Server <span class="fw-semi-bold">Overview</span></h6>
                            </header>
                            <div class="widget-body">
                                <div class="clearfix fs-mini">
                                    <span class="float-right no-margin fw-semi-bold">CPU</span>
                                    <span class="fs-mini">60% / 37°C / 3.3 Ghz</span>
                                </div>
                                <div class="bg-gray-lighter progress progress-xs">
                                  <div class="progress-bar bg-primary progress-xs" style="width: 70%"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="float-right no-margin fw-semi-bold">Mem</span>
                                    <span class="fs-mini">29% / 4GB (16 GB)</span>
                                </div>
                                <div class="bg-gray-lighter progress progress-xs">
                                  <div class="progress-bar progress-xs bg-warning" style="width: 29%"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="float-right no-margin fw-semi-bold">LAN</span>
                                    <span class="fs-mini">6 Mb/s <i class="fa fa-caret-down"></i> &nbsp; 3 Mb/s <i class="fa fa-caret-up"></i></span>
                                </div>
                                <div class="bg-gray-lighter progress progress-xs">
                                  <div class="progress-bar progress-xs bg-danger" style="width: 48%"></div>
                                </div>
                                <div class="clearfix fs-mini mt">
                                    <span class="float-right no-margin fw-semi-bold">Access</span>
                                    <span class="fs-mini">17 Mb/s <i class="fa fa-caret-up"></i> &nbsp; (+18%)</span>
                                </div>
                                <div class="bg-gray-lighter progress progress-xs">
                                    <div class="progress-bar progress-xs bg-success" style="width: 64%"></div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <section class="widget windget-padding-lg">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="carousel" data-speed="750" data-delay="3000" data-height="313">
                            <div>
                                <h3 class="mt-3">Basic & <span class="fw-semi-bold">Advanced</span> Features</h3>
                                <p class="value5 mt-lg">All you need in one app</p>
                                <div class="h5 mt-lg mb-lg">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p>Attention to what's really important</p>
                                    <button class="btn btn-info btn-block mt">Order Now!</button>
                                </div>
                            </div>
                            <div>
                                <h3 class="mt-3">Beautiful <span class="fw-semi-bold">Thing</span></h3>
                                <p class="value5 mt-lg">Life-time package support</p>
                                <div class="h5 mt-lg mb-lg">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p>Attention to what's really important</p>
                                    <button class="btn btn-inverse btn-block mt"><span class="fw-semi-bold text-warning">Ready?</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="widget widget-chart-changes">
                    <div class="widget-controls">
                        <a href="#"><i class="fa fa-refresh"></i></a>
                        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div class="widget-body">
                        <div class="chart bg-success btlr btrr">
                            <p class="chart-value"><i class="fa fa-caret-up"></i> 352.79</p>
                            <p class="chart-value-change">+2.04 (1.69%)</p>
                            <div id="chart-changes"></div>
                        </div>
                        <h5 class="chart-title"><span class="fw-normal">Salt Lake City</span>, Utah</h5>
                        <p class="deemphasize">Today 13:34</p>
                        <div class="mt">
                            <div class="row">
                                <div class="col-6">
                                    <p class="h5 no-margin">18.7M</p>
                                    <p class="deemphasize">Shares Traded</p>
                                </div>
                                <div class="col-6 text-right">
                                    <p class="h5 no-margin">19.9B</p>
                                    <p class="deemphasize">Market Cap</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt">
                            <div class="row">
                                <div class="col-6">
                                    <p class="h3 no-margin text-success fw-semi-bold">+120.93</p>
                                    <p class="deemphasize">Yearly Change</p>
                                </div>
                                <div class="col-6 text-right">
                                    <span id="chart-changes-year"></span>
                                    <p class="deemphasize">GOOG</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                <section class="widget windget-padding-lg bg-primary text-white">
                    <div class="widget-body clearfix">
                        <div class="live-tile" data-mode="carousel" data-speed="300" data-delay="3000" data-height="313">
                            <div>
                                <p class="h5 mt-xs">
                                    <i class="fa fa-quote-left opacity-50"></i>
                                    Thanks for the awesome support. That's awesome!
                                    <i class="fa fa-quote-right opacity-50"></i>
                                </p>
                                <div class="widget-footer-bottom">
                                    <span class="thumb float-left mr">
                                        <img class="rounded-circle" src="../demo/img/people/a4.jpg" alt="...">
                                    </span>
                                    <h5 class="no-margin mb-xs"><span class="fw-semi-bold">Miha</span> Koshir</h5>
                                    <p class="text-light">@miha</p>
                                </div>
                            </div>
                            <div>
                                <div class="clearfix mt-xs">
                                    <span class="thumb float-left mr">
                                        <img class="rounded-circle" src="../demo/img/people/a3.jpg" alt="...">
                                    </span>
                                    <h5 class="no-margin mb-xs"><span class="fw-semi-bold">Maryna</span> Ess</h5>
                                    <p class="text-light">@ess</p>
                                </div>
                                <div class="widget-footer-bottom">
                                    <p class="h5">
                                        <i class="fa fa-quote-left opacity-50"></i>
                                        Could have never imagined it would be so great!
                                        <i class="fa fa-quote-right opacity-50"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-3">
                <div class="live-tile" data-mode="flip" data-direction="horizontal"
                     data-speed="600" data-delay="3000" data-height="373"
                     data-play-onhover="true">
                    <div>
                        <section class="widget windget-padding-lg widget-md bg-gray-dark text-white">
                            <div class="widget-body widget-body-container">
                                <div class="text-center">
                                    <i class="fa fa-child text-warning fa-5x"></i>
                                </div>
                                <h4 class="fw-normal mt-3">Sing Web App</h4>
                                <div class="widget-footer-bottom">
                                    <div class="mb-sm">Cutting-edge tech and design delivered</div>
                                    <p><button class="btn btn-default btn-block">Hover over me!</button></p>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="widget windget-padding-lg widget-md">
                            <div class="widget-body widget-body-container">
                                <div class="text-center">
                                    <i class="fa fa-globe text-primary fa-5x"></i>
                                </div>
                                <h4 class="fw-normal mt-3">Join The Web Now!</h4>
                                <div class="widget-footer-bottom">
                                    <div class="mb-sm">Cutting-edge tech and design delivered</div>
                                    <p><button class="btn btn-gray btn-block">Join now!</button></p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}

        <script src="../../bower_components/underscore/underscore.js"></script>
        <script src="../../bower_components/jquery.sparkline/index.js"></script>
        <script src="../../bower_components/d3/d3.min.js"></script>
        <script src="../../bower_components/rickshaw/rickshaw.min.js"></script>
        <script src="../../bower_components/jQuery-Mapael/js/raphael/raphael-min.js"></script>
        <script src="../../bower_components/jQuery-Mapael/js/jquery.mapael.js"></script>
        <script src="../../bower_components/jQuery-Mapael/js/maps/usa_states.js"></script>
        <script src="../../bower_components/jQuery-Mapael/js/maps/world_countries.js"></script>
        <script src="../../bower_components/flot/jquery.flot.js"></script>
        <script src="../../bower_components/MetroJS/release/MetroJs.Full/MetroJs.js"></script>
        <script src="../../bower_components/skycons/skycons.js"></script>

        <script src="../demo/js/_fake-world-data.js"></script>
        <script src="../js/dashboard/widgets.js"></script>
    {{/content}}
{{/extend}}
