{{#extend "layout" title="Sing App - UI Buttons"}}
    {{#content "sidebar"}}
    {{> sidebar active="ui_buttons"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">UI Buttons</li>
        </ol>
        <h1 class="page-title">Buttons - <span class="fw-semi-bold">Styles</span></h1>
        <div class="row">
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Color <span class="fw-semi-bold">Options</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Use any of the available button classes to quickly create a styled button.
                            Semantically distinguishable beauty.
                        </p>
                        <p>
                            <button class="btn btn-default width-100 mb-xs" role="button">
                                Defaullt
                            </button>
                            <button class="btn btn-primary width-100 mb-xs" role="button">
                                Primary
                            </button>
                            <button class="btn btn-info width-100 mb-xs" role="button">
                                Info
                            </button>
                            <button class="btn btn-success width-100 mb-xs" role="button">
                                Success
                            </button>
                            <button class="btn btn-warning width-100 mb-xs" role="button">
                                Warning
                            </button>
                            <button class="btn btn-danger width-100 mb-xs" role="button">
                                Danger
                            </button>
                            <button class="btn btn-gray width-100 mb-xs" role="button">
                                Gray
                            </button>
                            <button class="btn btn-inverse width-100 mb-xs" role="button">
                                Inverse
                            </button>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Size <span class="fw-semi-bold">Variants</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Fancy larger or smaller buttons? Four separate sizes available for all use cases: from
                            tiny 10px button to large one. Add <code>.btn-lg</code>, <code>.btn-sm</code> or  <code>.btn-xs</code> for additional sizes.
                        </p>
                        <p>
                            <button type="button" class="btn btn-default btn-lg mb-xs">Large button</button>
                            <button type="button" class="btn btn-primary mb-xs mb-xs">Default button</button>
                            <button type="button" class="btn btn-info btn-sm mb-xs">Small button</button>
                            <button type="button" class="btn btn-success btn-xs mb-xs">Tiny button</button>
                        </p>

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Outline <span class="fw-semi-bold">Buttons</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            In need of a button, but not the hefty background colors they bring? Replace the default modifier 
                            classes with the <code>.btn-outline-*</code> ones to remove all background images and colors on any button.
                        </p>
                        <p>
                            <button class="btn btn-outline-default btn-rounded-f width-100 mb-xs" role="button">
                                Default
                            </button>
                            <button class="btn btn-outline-primary btn-rounded-f width-100 mb-xs" role="button">
                                Primary
                            </button>
                            <button class="btn btn-outline-info btn-rounded-f width-100 mb-xs" role="button">
                                Info
                            </button>
                            <button class="btn btn-outline-success btn-rounded-f width-100 mb-xs" role="button">
                                Success
                            </button>
                            <button class="btn btn-outline-warning btn-square width-100 mb-xs" role="button">
                                Warning
                            </button>
                            <button class="btn btn-outline-danger btn-square width-100 mb-xs" role="button">
                                Danger
                            </button>
                            <button class="btn btn-outline-gray btn-square width-100 mb-xs" role="button">
                                Gray
                            </button>
                            <button class="btn btn-outline-inverse btn-square width-100 mb-xs" role="button">
                                Inverse
                            </button>
                        </p>

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Rounded <span class="fw-semi-bold">Buttons</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Use any of the available button classes to quickly create a styled button.
                            Semantically distinguishable beauty. Use <code>.btn-rounded-f</code> and <code>.btn-rounded</code>
                        </p>
                        <p>
                            <button class="btn btn-default btn-rounded-f width-100 mb-xs" role="button">
                                Defaullt
                            </button>
                            <button class="btn btn-primary btn-rounded-f width-100 mb-xs" role="button">
                                Primary
                            </button>
                            <button class="btn btn-outline-info btn-rounded-f width-100 mb-xs" role="button">
                                Info
                            </button>
                            <button class="btn btn-outline-success btn-rounded-f width-100 mb-xs" role="button">
                                Success
                            </button>
                            <button class="btn btn-outline-warning btn-square width-100 mb-xs" role="button">
                                Warning
                            </button>
                            <button class="btn btn-outline-danger btn-square width-100 mb-xs" role="button">
                                Danger
                            </button>
                            <button class="btn btn-gray btn-square width-100 mb-xs" role="button">
                                Gray
                            </button>
                            <button class="btn btn-inverse btn-square width-100 mb-xs" role="button">
                                Inverse
                            </button>
                        </p>

                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Block <span class="fw-semi-bold">Buttons</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Create block level buttons - those that span the full width
                            of a parent— by adding <code>.btn-block</code>.
                            Great for menu & social buttons.
                        </p>
                        <p>
                            <button type="button" class="btn btn-info btn-block">Block Button</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-default btn-block">Show Menu &nbsp;&nbsp;&nbsp;<i class="fa fa-bars"></i></button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Login mit Facebook</button>
                        </p>
                        <p>
                            <button type="button" class="btn btn-warning btn-block">Are you sure?</button>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Disabled <span class="fw-semi-bold">Buttons</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Make buttons look unclickable by fading them back 50%.
                            Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.
                        </p>
                        <p>
                            <button type="button" class="btn btn-primary" disabled="disabled">Primary button</button>
                            <button type="button" class="btn btn-default" disabled="disabled">Button</button>
                        </p>
                        <p>
                            <a href="#" class="btn btn-success btn-sm disabled" role="button">Primary link</a>
                            <a href="#" class="btn btn-default btn-sm disabled" role="button">Link</a>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget">
                    <header>
                        <h5>
                            Button <span class="fw-semi-bold">Groups</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Group a series of buttons together on a single line with the button group.
                            Add on optional JavaScript radio and checkbox style behavior with Bootstrap buttons plugin.
                        </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">1</button>
                                <button type="button" class="btn btn-default">2</button>
                                <button type="button" class="btn btn-default">3</button>
                                <button type="button" class="btn btn-default">4</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">5</button>
                                <button type="button" class="btn btn-default">6</button>
                                <button type="button" class="btn btn-default">7</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">8</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="widget" style="overflow: visible;">
                    <header>
                        <h5>
                            Button <span class="fw-semi-bold">Dropdowns</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Add dropdown menus to nearly anything with this simple plugin, including the buttons,
                            navbar, tabs, and pills.
                            Both solid & segmented dropdown options available.
                        </p>
                        <div class="d-flex flex-wrap mb-sm align-items-end">
                            <div class="dropdown mr-sm">
                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown button
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="btn-group dropup mr-sm mt-sm">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropup
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-secondary">
                                    Split dropup
                                </button>
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-12">
                <section class="widget">
                    <header>
                        <h6>
                            Button <span class="fw-semi-bold">Options</span>
                        </h6>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="row">
                            <div class="col-xl-4">
                                <h4>
                                Button <span class="fw-semi-bold">Checkboxes</span>
                                </h4>
                                <p class="fs-mini text-muted">
                                    Do more with buttons. Control button states or create groups of buttons for more components like toolbars.
                                    Add <code>data-toggle="buttons"</code> to a group of checkboxes for checkbox style toggling on btn-group.
                                </p>
                                <div class="mb-sm">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-gray">
                                            <input type="checkbox"> Left way
                                        </label>
                                        <label class="btn btn-gray">
                                            <input type="checkbox"> Middle way
                                        </label>
                                        <label class="btn btn-gray">
                                            <input type="checkbox"> Right way
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-sm">
                                    <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Left way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Middle way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="checkbox"> Right way
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <h4>
                                    Button <span class="fw-semi-bold">Radios</span>
                                </h4>
                                <p class="fs-mini text-muted">
                                    Do more with buttons. Control button states or create groups of buttons for more components like toolbars.
                                    Add <code>data-toggle="buttons"</code> to a group of radio inputs for radio style toggling on btn-group.
                                </p>
                                <div class="mb-sm">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-gray">
                                            <input type="radio" name="gr1"> Left way
                                        </label>
                                        <label class="btn btn-gray">
                                            <input type="radio" name="gr1"> Middle way
                                        </label>
                                        <label class="btn btn-gray">
                                            <input type="radio" name="gr1"> Right way
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-sm">
                                    <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                                        <label class="btn btn-default">
                                            <input type="radio" name="gr2"> Left way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="gr2"> Middle way
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="gr2"> Right way
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4">
                                <h4>
                                    Use with <span class="fw-semi-bold">Icons</span>
                                </h4>
                                <p class="fs-mini text-muted">
                                    Fontawesome and Glyph- icons may be used in buttons, button groups for a toolbar, navigation, or prepended form inputs.
                                    Let your buttons shine!
                                </p>
                                <p class="text-center">
                                    <button class="btn btn-default width-100 mb-xs" role="button">
                                        <i class="glyphicon glyphicon-tree-conifer text-success"></i>
                                        Forest
                                    </button>
                                    <button class="btn btn-default width-100 mb-xs" role="button">
                                        <i class="fa fa-check text-danger"></i>
                                        Submit
                                    </button>
                                    <button class="btn btn-default width-100 mb-xs" role="button">
                                        <i class="fa fa-facebook text-primary"></i>
                                        Login
                                    </button>
                                </p>
                                <p class="text-center">
                                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                                        <i class="fa fa-exclamation text-warning"></i>
                                        Error
                                    </button>
                                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                                        <i class="glyphicon glyphicon-globe text-info"></i>
                                        <span class="text-info">Globe</span>
                                    </button>
                                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                                        <span class="circle bg-white">
                                            <i class="fa fa-map-marker text-gray"></i>
                                        </span>
                                        Map
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
    <script src="../js/components/ui-buttons.js"></script>
    {{/content}}
{{/extend}}