{{#extend "layout" title="Sing App - Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="charts_rickshaw"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item active">Charts</li>
            <li class="breadcrumb-item active">Rickshaw</li>
        </ol>
        <h1 class="page-title">Visual - <span class="fw-semi-bold">Charts</span></h1>
        <div class="row">
            <div class="col-lg-12">
                <section class="widget">
                    <header>
                        <h5>
                            Bias <span class="fw-semi-bold">Rickshaw</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted mb-lg">
                            Basic scatter plot with two overlapping series. Based on d3 library, which is extremely fast and powerful.
                            Customize it to visualize and analyze your data.
                        </p>
                        <div id="rickshaw" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-xl-8">
                <section class="widget">
                    <header>
                        <h5>
                            Line Chart - <span class="fw-semi-bold">Rickshaw</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <div class="row mb-3">
                            <div class="alert alert-primary alert-transparent col-md-12 text-muted rounded-0" role="alert">
                                <span class="fw-semi-bold">Important alert:</span> It's time to buy Tesla shares!
                            </div>
                        </div>
                        <div id="y_axis" style="position: absolute; width: 30px; height: 300px;"></div>
                        <div id="rickshaw5" class="chart-overflow-bottom mb" style="left: 50px; max-width: 90%;"></div>
                        <div id="legend"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-5 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>
                            Stacked Bar Chart - <span class="fw-semi-bold">Rickshaw</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">You can combine Rickshaw charts with
                            <span class="fw-semi-bold">Bootstrap</span> components
                            for data visualization and call to action. </p>
                        <div class="alert alert-danger-light rounded-0" role="alert">
                            A simple success alert—check it out!
                        </div>
                        <div id="rickshaw3"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>
                            Bar Chart - <span class="fw-semi-bold">Rickshaw</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Rickshaw charts give you a possibility to enter the low level settings, when you need it,
                            so you can always refer to d3 attributes and DOM elements to create your awesome custom chart.
                        </p>
                        <div id="rickshaw4"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>
                            Realtime <span class="fw-semi-bold">Rickshaw</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted mb-lg">
                            Rickshaw provides the elements you need to create interactive graphs: renderers, legends,
                            hovers, range selectors, etc. You put the pieces together.
                            It's all based on <span class="fw-semi-bold">d3</span> underneath, so graphs are drawn with standard SVG and styled with CSS.
                            Customize all you like with techniques you already know.
                        </p>
                        <h5>720 Users</h5>
                        <div class="bg-gray-lighter progress progress-xs">
                            <div class="progress-bar progress-xs progress-primary" style="width: 60%;" data-width="60%"></div>
                        </div>
                        <p class="fs-mini text-muted mb-lg">
                    <span class="circle bg-primary text-white">
                    <i class="fa fa-circle"></i>
                    </span>
                            &nbsp;
                            Target <span class="fw-semi-bold">820</span> users
                            is <span class="fw-semi-bold">96%</span> reached.
                        </p>
                        <div id="rickshaw2" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}

        <script src="../../bower_components/d3/d3.min.js"></script>
        <script src="../../bower_components/rickshaw/rickshaw.min.js"></script>

        <!-- page specific js -->
        <script src="../js/charts/rickshaw.js"></script>
    {{/content}}
{{/extend}}