{{#extend "layout" title="Sing App - Sparkline Charts"}}
    {{#content "sidebar"}}
        {{> sidebar active="charts_sparkline"}}
    {{/content}}
    {{#content "content" mode="replace"}}
        <ol class="breadcrumb">
            <li class="breadcrumb-item">YOU ARE HERE</li>
            <li class="breadcrumb-item">Charts</li>
            <li class="breadcrumb-item active">Sparkline</li>
        </ol>
        <h1 class="page-title">Visual - <span class="fw-semi-bold">Charts</span></h1>
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Bar Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline4" class="chart-overflow-bottom mb-0 text-center"></div>
                        <div class="stats-row text-muted mt">
                            <div class="stat-item">
                                <h6 class="name">ARR ($)</h6>
                                <p class="value">4 375 800</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">MRR ($)</h6>
                                <p class="value">863 425</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">TTN ($)</h6>
                                <p class="value">5 634 100</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">MRR / ARR </h6>
                                <p class="value">0.1634</p>
                            </div>
                        </div>
                        <hr>
                        <p class="clearfix text-muted">
                            <small class="float-left">
                                <span class="badge badge-warning">Profit</span> Legend Item Emulation
                            </small>
                            <small class="float-right">
                                <span class="badge badge-danger">Loss</span> Legend Item Emulation
                            </small>
                        </p>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-xl-4">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Pie Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline2" class="chart-overflow-bottom mb-0 text-center"></div>
                        <div class="alert text-muted">
                            <a href="#" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                            <span class="fw-normal">Sales Report</span> <br>
                            <div class="progress progress-xs mt-2">
                                <div class="progress-bar progress-bar-gray-light" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <small>Prev year quota achievement 16%. Should work harder!</small>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 col-xl-3">
                <section class="widget">
                    <header>
                        <h5>
                            Area <span class="fw-semi-bold">Sparkline</span>
                        </h5>
                        <div class="widget-controls">
                            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div class="stats-row text-muted mt">
                            <div class="stat-item">
                                <h6 class="name">Overall Growth</h6>
                                <p class="value">43.75%</p>
                            </div>
                            <div class="stat-item">
                                <h6 class="name">Montly</h6>
                                <p class="value">86.34%</p>
                            </div>
                        </div>
                        <p class="text-muted fs-mini">
                            <span class="fw-semi-bold">17% higher</span> than last month
                        </p>
                        <div id="sparkline1" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-xl-9">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Line Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline3" class="chart-overflow-bottom"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-5 col-xl-3">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Pie Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline7" class="chart-overflow-bottom mb-4 text-center"></div>
                        <p class="mt">Possible actions:</p>
                        <p class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Yoga</button>
                            <button type="button" class="btn btn-light">Coffee</button>
                            <button type="button" class="btn btn-light">Dancing</button>
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Tristate Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                        <div class="input-group mt">
                            <input type="text" class="form-control" placeholder="Filter By Period: MM/DD/YYY">
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-search text-gray"></i>
                                </button>
                            </span>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Each example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline5" class="chart-overflow-bottom mb-0 text-center"></div>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <section class="widget">
                    <header>
                        <h5>
                            Sparkline <span class="fw-semi-bold">Line Chart</span>
                        </h5>
                        <div class="widget-controls">
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="widget-body">
                        <p class="fs-mini text-muted">
                            Example displayed below takes just 1 line of HTML or javascript to generate.
                        </p>
                        <div id="sparkline6" class="chart-overflow-bottom mb-0 text-center"></div>
                    </div>
                </section>

            </div>
        </div>
    {{/content}}
    {{#content "scripts"}}
        <script src="../../bower_components/jquery.sparkline/index.js"></script>

        <!-- page specific js -->
        <script src="../js/charts/sparkline.js"></script>
    {{/content}}
{{/extend}}